# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Project input directories (from ODM)
images/
odm_*/
opensfm/
orthorectified/

# Project output files
selected_undistorted_images_*/
selected_images_list_*.csv
coverage_plot_*.png

# Image files
*.tif
*.TIF
*.jpg
*.JPG

# OS specific
# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
